$white: #ffffff;
$light-grey: #ebebeb;
$grey: #808080;
$dark-grey: #555555;

$blue-1: #d4f0fc;
$blue-2: #89d6fb;
$blue-3: #02a9f7;
$blue-4: #02577a;
$blue-5: #01303f;

$orange: #ffa600;
$red: #be0000;
$yellow: #acac00;
$green: #006b00;
