<template name="overview">
  <div class="overview">
    <div class="overview__labels">
      <p class="overview__label sort-room">Room #</p>
      <p class="overview__label sort-frequency">Rating Frequency</p>
      <p class="overview__label sort-percentage">Dissatisfaction Percentage</p>
      <p class="overview__label sort-average">Average<br />Rating</p>
      <p class="overview__label">Last<br />Rating</p>
    </div>
    <ul class="overview__list">
      {{#each data}}
        {{> room}} 
      {{/each}}
    </ul>
  </div>
</template>