<template name="overview">
  <div class="overview">
    <div class="overview__labels">
      <p class="overview__label">Room #</p>
      <p class="overview__label">Rating Frequency</p>
      <p class="overview__label">Dissatisfaction Percentage</p>
      <p class="overview__label">Average<br />Rating</p>
      <p class="overview__label">Last<br />Rating</p>
    </div>
    <ul class="overview__list">
      {{#each data}}
        {{> room}} 
      {{/each}}
    </ul>
  </div>
</template>